{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="text-center">Sign-Up</h2>
<form method="POST" enctype="multipart/form-data" class="container">
    {% csrf_token %}
    <div class="mb-3">
    <label class="form-label">Username:</label>
    <input class="form-control" name="u" type="text">
        </div>
    <div class="mb-3">
    <label class="form-label">Password:</label>
    <input class="form-control" name="p" type="password">
        </div>
    <div class="mb-3">
    <label class="form-label"> Confirm Password:</label>
    <input class="form-control" name="cp" type="password">
        </div>
        <div class="mb-3">
    <label class="form-label">Email:</label>
    <input class="form-control" name="e" type="text">
            </div>
            <div class="mb-3">
    <label class="form-label">First Name:</label>
    <input class="form-control" name="f" type="text">
                </div>
                <div class="mb-3">
    <label class="form-label">Last Name:</label>
    <input class="form-control" name="l" type="text">
                    </div>
                    <div class="mb-5">
    <input class="btn btn-primary" type="submit" value="Sign-Up">
                    </div>
</form>
{% endblock %}